table{
    border-collapse: collapse;
}

thead>tr>td{
    text-align: center;
    background-color: black;
    color: green;
    font-weight:bold;
    border: 2px solid green;
}

tr>td{
    padding: 5px;
}

tbody>tr:nth-child(even){
    background-color: green;
}

tbody>tr{
    background-color: lightgreen;
}

tbody>td:nth-child(4){
    text-align: right;
}
tfoot>tr>td{
    background-color: black;
    color: green;
    text-align: right;
}
tfoot>tr>td:nth-child(2){
    background-color: green;
    color: black;
    text-align: left;
    font-weight: bold;
}
tbody>tr>td{
    border:2px solid black;
}