*{
    padding: 0;
    margin: 0;

}

#titulo,#button_index,#palavra,.imgs{
    align-items: center;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}
#palavra{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.imgs{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
