*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#titulo,#button_index,#palavra,#alfabeto,#cmc,.imgs{
    align-items: center;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

#cmc,#palavra{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.imgs{
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 0px;
    margin: 0px;
}

#item{
    flex-basis: auto;
    display: flex;
    width: 1.5rem;
    justify-content: center;
    border-radius: 0.2rem;
    
}
.conteiner_alfabeto{
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    gap: 0.5rem;
    width: 20%;
    
    
}
#txt_jogo {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  flex-wrap: wrap;
  gap: 0px,15px,0px,15px;
  
}

/* /////////////// V boa parte usado no js V ///////////////// */

.letra-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;  
}

.letra {
  font-size: 2.5rem;
  height: 1.5rem;          
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.2rem;    
}

.underscore {
  font-size: 2rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-start;  
  justify-content: center;
  margin-top: -0.3rem;   
}
