*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e1e8e8;
}
body{
    background-color: #e1e8e8;
}
#central{
    align-items: center;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 20rem;
}
#btn{
    border-radius: 2rem;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    color: #044f4f;
}

.input{
    border-radius: 0.6rem;
}