

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:'Montserrat';
    font-weight: 300;
    font-style: italic;
    /* color: #274873; */

    padding: 0;
    margin: 0;
    
}
header{
    background:linear-gradient(to left, transparent 20%,#274873);  
    /* background-color: #274873; */
    color: #bfd5d8;
    padding: 10px 10px;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.carrocel{
    margin: 100px auto;
    width: 80%; 
    display: flex;
    overflow-x: auto;
    -ms-overflow-style:none ;
    scrollbar-width: none;
}
.group{
    display: flex;
    text-align: center;
    align-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
    
}
.card{
    flex:0 0 5em;
    height: 5em;
    padding: 1em;
    background:cornflowerblue ;
    font-size: 3em;
    border-radius:2em;
    text-align: center;
    align-content: center;
    opacity: 20%;
}
.item{
    opacity: 35%;
}
.item:hover{
    transition: all 0.2s ease-in-out;
    opacity: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}
button{
    border-style: none;
    background-color: transparent;
}
