

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family:'Montserrat';
    font-weight: 300;
}
header{
    background:linear-gradient(to left, transparent 20%,#274873);  
    /* background-color: #274873; */
    color: #bfd5d8;
    padding: 10px 10px;
}
.pai{
    display: flex;
    gap: 50px;
    position: relative;
    overflow: hidden;
}
.pai::before{
    content: "";
    position: absolute;
    inset: 0;
    background:url("imgs/background1.jpg") repeat-x; 
    opacity: 0.1;
    background-size: auto 100%;
    animation: bgMove 1000s linear infinite;
    z-index: 0;
}
.pai::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, white 0%, rgba(255,255,255,0) 60%);
    z-index: 1;
}
.filho{
    width: 600px; 
    padding: 50px;
    display: flex-start; 
    color: #274873;
    position: relative;
    z-index: 2;
}
@keyframes bgMove{
    from { background-position: 0 0, 0 0;}
    to   { background-position: -10000px 0,-10000px 0; }
}

.h2{
    color: #274873;
    text-align: center;
}
.h4{
    padding-bottom: 4px;
    text-align: justify;
}

.conteiner{
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.carrocel{
    margin: 100px auto;
    width: 80%; 
    display: flex;
    overflow-x: auto;
    -ms-overflow-style:none ;
    scrollbar-width: none;
}
.group{
    display: flex;
    text-align: center;
    align-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
    
}
.card{
    flex:0 0 5em;
    height: 5em;
    padding: 1em;
    background:cornflowerblue ;
    font-size: 3em;
    border-radius:2em;
    text-align: center;
    align-content: center;
    opacity: 20%;
}
.item{
    opacity: 35%;
}
.item:hover{
    transition: all 0.2s ease-in-out;
    opacity: 100%;
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}
button{
    border-style: none;
    background-color: transparent;
}
